.launch-card {
  max-width: 320px;
  margin: 0 auto 50px auto;
  padding: 20px;
  transition: transform 0.2s ease-out;
}

.launch-card:hover {
  transform: translateY(-2px);
}

.title {
  margin: 0px 0px 20px 0px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.7;
}

.description {
  margin: 0px 0px 8px 0px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.7;
}

.description-container {
  margin-bottom: 20px;
}
